@using gotcha_web.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    Game game = (Game)ViewData["game"];
    ViewData["NavDark"] = true;
    ViewData["Title"] = game.Title;
    var owner = Convert.ToBoolean(ViewData["owner"]);
    var inGame = Convert.ToBoolean(ViewData["playerInGame"]);
    ViewData["playereliminated"] = game.isPlayerEliminated(Convert.ToString(ViewData["alias"]));
    ViewData["render_db_home"] = true;
    var alias = HttpContextAccessor.HttpContext.Session.GetString("alias");
    Contract cont = null;
    if(game.Active && inGame && !owner){
        cont = game.GetPlayerContract(alias);
    }
    
}

<partial name="_GameDetail" model="@game"></partial>



<div class="container p2 contract-sect">
    
    @if (owner){
     <div class="grid-container">
            <div class="contracts-container">
                <h2>Contracten</h2>
    @if(game.GetContractCount() == 0){
                    if(game.GetPlayerCount() >= 3){
                        <p>Er zijn meer spelers nodig om het spel te starten</p>
                    }
                    
                }else{
                    <div class="contracts-list">
                        @{
                            
                                @foreach (var c in game.Contracts)
                                {
                                    <div class="contract">
                                        <p><span class="alias">@c.Assassin.alias</span><span>Jaagt op</span><span class="alias">@c.Target.alias</span></p>
                                    </div>
                                }



                        }
                        
                    </div>
}
            </div>
     </div>

}else{
    <h3>Jouw contract:</h3>
    <div class="mycontract-container">
        <h3>Doelwit</h3>
        @if(inGame && game.Active){
            
            
            
                
                <p>De alias van je doelwit is: @cont.Target.alias</p>
                <p>De naam van je doelwit is: @cont.Target.toString()</p>
            
        }else{
            <p>Je krijgt een contract toegewezen als het spel begonnen is.</p>
        }
    </div>
}


        
    
</div>

