@using gotcha_web.Models;

@model gotcha_web.Forms.GameCreateForm


@{
    ViewData["NavDark"] = true;
    ViewData["Title"] = "Spel aanmaken";
    var GameTypes = new List<string>{
        
        "Woordspel",
        "Normaal spel"
    };

    
}
<div class="container p2">
    <partial name="_Nav"></partial>
</div>


<div class="container p2">
    @using (Html.BeginForm("CreateGame", "Dashboard", FormMethod.Post)){
        <div class="formcontrol">
        <label>Naam van het spel:</label>
        @Html.TextBoxFor(m => m.Title);

    </div>
    <div class="formcontrol">
        <label>Beschrijving/uitleg:</label>
        @Html.TextAreaFor(m => m.Description);

    </div>
    <div class="formcontrol">
        <label>Regio:</label>
        @Html.TextBoxFor(m => m.Region)

    </div>
    <div class="formcontrol ">
        <label>Speltype:</label>
        <div class="dropdowncontainer">
            @Html.DropDownListFor(m => m.gametype, new SelectList(GameTypes), "Type spel:");
        </div>

    </div>
        <div class="formcontrol woord-list-container">
        <label>Woordenlijst: (Scheiden door middel van spaties)</label>
        <div class="">
            @Html.TextBoxFor(m => m.WordString)
        </div>
    </div>
    <input type="submit" value="Maak spel aan"/>

    }
    


</div>


<script>
    var input = document.querySelector(".dropdowncontainer select");
    var word_list = document.querySelector(".woord-list-container")
    word_list.classList.add("hide");
    input.onchange = function (e) {
        var val = e.target.value;
        if (val === "Woordspel"){
            word_list.classList.remove("hide");
        }else{
            word_list.classList.add("hide");
        }
    }    

</script>