@using gotcha_web.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    WordGame game = (WordGame)ViewData["game"];
    ViewData["NavDark"] = true;
    ViewData["Title"] = game.Title;
    var owner = Convert.ToBoolean(ViewData["owner"]);
    var inGame = Convert.ToBoolean(ViewData["playerInGame"]);
    ViewData["playereliminated"] = game.isPlayerEliminated(Convert.ToString(ViewData["alias"]));
    ViewData["render_db_home"] = true;
    var alias = HttpContextAccessor.HttpContext.Session.GetString("alias");
    WordContract playercontract = null;
    if (game.Active && !owner && inGame){
        playercontract = game.GetPlayerContract(alias);
    }
    
}





<partial name="_GameDetail" model="@game"></partial>


<div class="container p2 contract-sect">
    @if (owner){
     <div class="grid-container">
            <div class="contracts-container">
                <h2>Contracten</h2>
                @if(game.Active){
                    <div class="contracts-list">
                        @{
                            
                                @foreach (var c in game.WordContracts)
                                {
                                    <div class="contract">
                                        <p><span class="alias">@c.Assassin.alias</span><span>Jaagt op</span><span class="alias">@c.Target.alias</span><span>Met woord: <span>@c.Word</span></span></p>
                                    </div>
                                }



                        }
                        
                    </div>
                }else{
                    <p>Het spel is nog niet gestart</p>
                }
            </div>
     </div>

}else{
    <h3>Jouw contract:</h3>
    <div class="mycontract-container">
        
        @if(inGame && game.Active){
            
            
            <h3>Doelwit:</h3>
            <p>De alias van je doelwit is: @playercontract.Target.alias</p>
            <p>De naam van je doelwit is: @playercontract.Target.toString()</p>
            <p>Het woord dat je doelwit moet uitspreken is: <span>@playercontract.Word</span></p>
            
        }else{
            <p>Je krijgt een contract toegewezen als het spel begonnen is.</p>
        }
    </div>
}
</div>

