@using gotcha_web.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    WordGame game = (WordGame)ViewData["game"];
    ViewData["NavDark"] = true;
    ViewData["Title"] = game.Title;
    var owner = Convert.ToBoolean(ViewData["owner"]);
    var inGame = Convert.ToBoolean(ViewData["playerInGame"]);
    ViewData["playercount"] = game.GetPlayerCount();
    ViewData["players"] = game.Players;
    ViewData["playereliminated"] = game.isPlayerEliminated(Convert.ToString(ViewData["alias"]));
    ViewData["Gameid"] = game.GameId;
    ViewData["render_db_home"] = true;
    ViewData["Description"] = game.Description;
    ViewData["gameleaderalias"] = game.GameLeader.alias;
    ViewData["gameactive"] = game.Active;
    Console.WriteLine(game.WordContracts);
    
   
    var alias = HttpContextAccessor.HttpContext.Session.GetString("alias");

}





<partial name="_GameDetail"></partial>


<div class="container p2">
    @if (owner){
     <div class="grid-container">
            <div class="contracts-container">
                <h2>Contracten</h2>
                @if(game.Active){
                    <div class="contracts-list">
                        @{
                            
                                @foreach (var c in game.WordContracts)
                                {
                                    <div class="contract">
                                        <p><span class="alias">@c.Assassin.alias</span><span>Jaagt op</span><span class="alias">@c.Target.alias</span><span>Met woord: <span>@c.Word</span></span></p>
                                    </div>
                                }



                        }
                        
                    </div>
                }else{
                    <p>Het spel is nog niet gestart</p>
                }
            </div>
     </div>

}else{
   if(inGame && game.Active){
       var playercontract = game.GetPlayerContract(alias);
        <div class="mycontract-container">
            <h3>Jouw contract:</h3>
            <h5>De alias van je doelwit is: @playercontract.Target.alias</h5>
            <h5>De naam van je doelwit is: @playercontract.Target.toString()</h5>
            <h5>Het woord dat je doelwit moet uitspreken is: @playercontract.Word</h5>
        </div>
    }
}
</div>

